body {background-color: #ededed;}

h1,h2,h3,h4,h5 {color:#4aaaa5;}

a, a:hover {text-decoration: none;}
  
a:hover {opacity: 0.8;}

th {text-align: left;}

.bg-custom {background-color:#4aaaa5; padding:0px 10px; }

.hdr-cl {color:#4aaaa5;}

.brdr {border:1px solid #4aaaa5;}

.txt-cntr {text-align:center;}

.hr-lrg-mrg {margin:2em auto}

.mnu:hover {background-color:#e7e7e7}

.content-box {background-color: #fff;padding:40px 30px;}

.img-nrml {width:600px;}

.img-sqr-sml {width:200px; height:200px;}

.img-sqr-thmb {width:120px; height:120px;}

.stacked-seperator {display:none;}

@media (max-width: 992px) {
    .bg-light {background-color:#4aaaa5 !important;}
} 

@media (max-width: 1380px) {
    .stacked-seperator {display:block;}
}
